[Unit]
Description=Blocks until it successfully pings the head node at 10.0.0.2
After=network-online.target
 
[Service]
ExecStartPre=/usr/bin/bash -c "while ! ping -c1 10.0.0.2; do sleep 1; done"
ExecStart=/usr/bin/sh -c "echo Head Node Reached"
RemainAfterExit=yes
 
[Install]
WantedBy=multi-user.target